# Data (large files)
data/raw/
data/processed/
**/*.csv

# Allow sample datasets
!data/samples/
!data/samples/**/*.csv


# Trained models
*.keras
*.h5

# Python cache
__pycache__/
*.pyc

# Environments
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
